a:link {
    color: #454545;
    text-decoration: none;
}
a:visited {
    color: #a0a0a0;
    text-decoration: none;
}
a:hover {
    color: #207ce5;
    text-decoration: none;
}
a:active {
    color: #dfdfdf;
    text-decoration: none;
}
h1{
	display:block; 
	margin-bottom:5px; 
	color:#444; 
	font-family: "NanumGothic","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:20pt; 
	line-height:20pt; 
	letter-spacing:-0.03em;
	padding: 10px 0px;
}
h2{
	display:block; 
	margin-bottom:5px; 
	color:#444; 
	font-family:"NanumGothic"; 
	font-size:18pt; 
	line-height:20pt; 
	letter-spacing:-0.03em;
	padding: 10px 0px;
}
h4{
	font-size: 9pt;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
}
h5{
	font-size: 8pt;
	font-weight: normal;
	padding: 0px;
	margin: 0px;
}

html{
	height:100%;
}

body {
	font-size: .80em;
    font-family: "Trebuchet MS", "NanumGothic", Verdana, Helvetica, Sans-Serif;
    color: #595959;
    line-height: 1.20em;
    
    /* background-color:#7090f0; */
	
	background: #207ce5; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIwN2NlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTliZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #207ce5 0%, #499bea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#207ce5), color-stop(100%,#499bea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #207ce5 0%,#499bea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #207ce5 0%,#499bea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #207ce5 0%,#499bea 100%); /* IE10+ */
	background: linear-gradient(to right,  #207ce5 0%,#499bea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207ce5', endColorstr='#499bea',GradientType=1 ); /* IE6-8 */
}

header,
footer,
nav,
section {
    display: block;
}

div,
table,
span{
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, ul, li, ol, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
/* font-size: 100%; */
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 1px;
    font-size: 1.0em;
    color: #444;
    height: 19px;
    /*width: 150px;*/
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.0em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.0em;
}

/* TABLE
----------------------------------------------------------*/

table {
    /*border: solid 1px #e8eef4;*/
    font-size: 9pt;
    font-family: '돋움',dotum, gulim, Verdana, Helvetica,sans-serif;
    
	margin-left:auto;
	margin-right:auto; 
    border-collapse: collapse;
    
    /* table-layout:fixed; */
}

table td {
    padding: 7px 0 5px 0;
    border-bottom: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #f9f9f9;
    border-top: solid 2px #499bea;
    border-bottom: solid 1px #e8eef4;
}

#page {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}



/* DIV Header
----------------------------------------------------------*/

header, #header {
    position: relative;
    /* height: 50px; */
    margin-bottom: 0px;
    padding: 0;
    
    width:100%;
    background-image: url("../image/top_bg.gif");
    background-repeat: repeat-x;
    
    margin-left: auto;
    margin-right: auto;
}


#header .title{
	color: #fff;
	font-size: 65px !important;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	letter-spacing: -2px;
	line-height: 0.95;
	text-rendering: optimizelegibility;
    text-shadow: 0px 0px 3px #207ce5;
    text-align:center;
    
	margin: 0;
	margin-top: 28px;
	margin-bottom: 28px;
}

/* TAB MENU   
----------------------------------------------------------*/

#header .menuArea{
	
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    
	background-color: #f7f7f7;
	background-image: -moz-linear-gradient(bottom,#f7f7f7 0%,#ffffff 30%);
	background-image: -webkit-linear-gradient(bottom,#f7f7f7 0%,#ffffff 30%);
	background-image: linear-gradient(to top,#f7f7f7 0%,#ffffff 30%);
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	border-bottom: 1px solid #cfcfcf;
	white-space: nowrap;
	height:39px;
}

.menuArea .menu {
    /*border-bottom: 1px #5C87B2 solid;*/
    width:40%;
    text-align:right;
    float:right;

    height:38px;
}
.type:FIRST-CHILD{
    border-radius: 3px 0 0 0;
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
}
.type:LAST-CHILD{
    border-radius: 0 3px 0 0;
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
}
.type{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
    display: inline-block;
    height:inherit;
    
	vertical-align: top;
	line-height: 3;
    text-align: center;
    
	border-right: 1px solid #d0d0d0;
	border-left: 1px solid #d0d0d0;

    color: #7c7c7c;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
	
	width: 120px;
}
.type:hover{
	background:#f6f6f6;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(white),to(#eeeeee));
	background:-webkit-linear-gradient(0% 0%,0% 100%,from(white),to(#eeeeee));
	background:-moz-linear-gradient(center top,white,#eeeeee);
	background:linear-gradient(#ffffff,#eeeeee);
}
.type:active{box-shadow:inset 0 0 6px #b1b1b1;}

.type.active,
.type.active:hover{
	box-shadow:0 0 5px -1px rgba(0,0,0,0.55) inset;background:#036de2;
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#0453e0),to(#0287e5));
	background:-webkit-linear-gradient(0% 0%,0% 100%,from(#0453e0),to(#0287e5));
	background:-moz-linear-gradient(center top,#0453e0,#0287e5);
	background:linear-gradient(#0453e0,#0287e5);
	color:#fff;text-shadow:0 1px 0 #03508a;
	text-decoration:none;
}

#menu1:BEFORE{
	background-position: 0 -701px;
	height: 17px;
	width: 18px;
}

#menu2{
	margin-left: -1px;
}

#menu2:BEFORE{	
	background-position: 0 -592px;
	height: 15px;
	width: 15px;
}

.type:BEFORE{
	display: inline-block;
	margin: 10px 10px 10px -5px;
	content: "";
	background: url("../images/discover.png") no-repeat;
}

/* DIV Main
----------------------------------------------------------*/
#main {
	clear: both;
    padding: 30px 30px 15px 30px;
    background-color: #fff;

/*     border-radius: 3px 3px 0px 0px;
    -webkit-border-radius: 3px 3px 0px 0px;
    -moz-border-radius: 3px 3px 0px 0px; */
 	
 }


/* DIV Footer
----------------------------------------------------------*/
footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 40px 0;
    font-size: .9em;
    
    border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
}



/* Borad_view---------------------*/
.view_head{
	float: left;
	width: 100%;
	padding-bottom: 11px;
	border-bottom: 1px solid #efefef;
}
.view_head .subject{
	display:block;
	text-align: left;
	font-size: 1.5em;
    font-weight: bold;
    color: #444;
   
	margin-top: 15px;
	margin-bottom: 15px;
}
.view_head .readcount_text{
	display:inline;
	font-size: 0.9em;
    color: #999;
	text-align: left;
}
.view_head .readcount{
	padding-left: 3px;
	display:inline;
	font-size: 11px;
    font-weight: bold;
    color: #666;
	text-align: left;
}
.view_head .txt_bar {
padding: 0 1px 0 2px;
font: normal 10px/10px dotum;
}

.view_head .writer{
	display:inline;
	font-size: 0.9em;
    color: #999;
	text-align: left;
}
.view_head .reg_date{
	display:inline;
	font-size: 0.9em;
    color: #999;
	text-align: left;
	
	position: relative;
	top: -1px;
	font: 10px/10px tahoma;
}



/* view_body */ 
.view_body{
	float: left;
	position: relative;
	z-index: 2;
	width: 100%;
	padding: 2px 0 15px;
	clear: both;
}

.view_body .content{
	font-size: 14px;
	line-height: 1.5em;
	padding-top: 24px;
	display: block;
	
	overflow: auto;
	width: 100%;
	
	word-break:keep-all; 
	word-wrap:break-word;
}




/* DIV 기타 레이아웃
----------------------------------------------------------*/

.memberlist{
 	width:100%;
}
.memberlist th{
 	text-align: center;
}
.memberlist td{
 	text-align: center;
}
 
 
.joinform{
 	width:100%;
}
.joinform td:FIRST-CHILD{
	width:100px;
}
.joinform input[type=text],
.joinform input[type=password]{
	width: 70%;	
}

.memberDetail{
 	margin: auto;
 	width:500px;
}
.memberDetail table{
	width:100%;
}

.memberDetail td:FIRST-CHILD{
	width:100px;
}
.memberDetail input[type=text],
.memberDetail input[type=password]
{
	width: 70%;
}
.btnArea{
	margin-top: 10px;
	text-align: left;
}

.titleArea{
	float:left;
	width:20%;
}
.searchArea{
	float:left;
	width:80%;
	padding-top:3px;
	text-align: right;
}

.notice{
	background-color: #f9f9f9;
}

.notice_icon{
	margin-bottom:1px;
	background-image: url(../images/ico-list-notice.gif);
	vertical-align: middle;
}

.pageArea{
	padding:10px;
	text-align: center;	
}

span.current.Page{
	text-decoration: underline;
	padding: 6px;
}
span.Page{
    font-size: 9pt;
    font-family: '돋움',dotum, gulim, Verdana, Helvetica,sans-serif;
	padding:0 2px 0 2px;
	color: #207ce5;
	font-weight: bold;
}
span a{
	padding: 4px;
}

td a:HOVER{
    text-decoration: underline;
}
td.subject{
	text-align: left;
	padding: 0 5px 0 5px;
	
	padding-top:2px;
/* 	text-overflow : ellipsis;
	overflow : hidden; 
	white-space:nowrap; */
}

table.memberlist .category{
	width:8%;
}
table.memberlist .subject{
	width:53%;
}
table.memberlist .writer{
	width:15%;
}
table.memberlist .recommend{
	width:6%;
}
table.memberlist .readNum{
	width:6%;
}
table.memberlist .writeDate{
	width:12%;
}
